.container {
  padding: 0 2rem;
}

.cube {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  position: absolute;
  left: 120px;
  background-color: hsl(150, 100%, 66%);
  transition: all 0.3s ease-in-out;
}

.cube:hover {
  box-shadow: 0px 0px 5px 8px rgba(82, 255, 168, 0.5);
}

.divide {
  width: fit-content;
  height: fit-content;
  margin: 15px auto 30px auto;
}

.align {
  width: fit-content;
  height: fit-content;
  margin: 18px;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  position: relative;
  background-color: hsl(217, 19%, 24%);;
}

.card h2 {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: hsl(193, 38%, 86%);
}

.card p {
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(150, 100%, 66%);
}



@media screen and (min-width: 768px) {
  .card {
    width: 400px;
  }

  .cube {
    left: 170px;
  }

  .card p {
    font-size: 1.0rem;
  }

  .card h2 {
    font-size: 1.7rem;
    margin: 1.5rem 0;
  }
}
